<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="favicon.png" />
    <meta charset="UTF-8">
    <title>Emotion recognition</title>
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/main_style.css" />
</head>
<body>
                <!-- WELCOME AREA - START -->
    <section  class="welcome-container">
        <h1>Welcome to Face Emotion Recognizer</h1>
            <img src="/graphics/eyes.png" alt="eyes-alt"/>
            <div class="button-placeholder">
                <button class="button_slide slide_left" id="continue-button">Try it yourself!</button>
            </div>
    </section>
                <!-- WELCOME AREA - END -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js_service/FaceReckonAPI.js"></script>
</body>
</html>