<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Recognition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/main_style.css" />
</head>
<body>
    <div class="keeper-container">
        <section  class="welcome-container">

        <div class="left-holder">
            <img height="300" width="300" id="preview-image">

            <form id="upload-form" enctype="multipart/form-data">
                <input type="file" accept="image/*" onchange="showPreviewImage(event)" name="recImage" required/>
            </form>
        </div>

        <div class="right-holder">
            <div class="output-data-screen">
                <table>
                    <thead>Results</thead>
                    <tbody>
                        <tr>
                            <td class="fir-emotion-res"></td>
                            <td class="sec-emotion-res"></td>
                            <td class="third-emotion-res"></td>
                         </tr>
                        <tr>
                            <td class="fir-emotion-name"></td>
                            <td class="sec-emotion-name"></td>
                            <td class="third-emotion-name"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader-screen">
                <div class="loader">
                </div>
                <p style="text-align:center;margin-top:2%;">Processing image data ...</p>
            </div>

            <button class="process-image button_slide slide_left">Launch recognition</button>
        </div>

        </section>

        <div style="position: absolute; top: 10px; right: 10px;">

            <div class="toast info" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                <div class="toast-header">
                    <img src="favicon.png" class="rounded mr-2" alt="info">
                    <strong class="mr-auto">Important information</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Keep in mind that you should use real persons pictures for more accurate results
                </div>
            </div>

            <div class="toast error" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                <div class="toast-header">
                    <img src="graphics/face_bad.png" class="rounded mr-2" alt="info">
                    <strong class="mr-auto">Problem encountered</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body error">
                    Keep in mind that you should use real person pictures for more accurate results
                </div>
            </div>

        </div>

    </div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js_service/FaceReckonAPI.js"></script>

</body>
</html>