<div class="main-block">
  <header class="up-header">
    <div class="block">
      <img class="side-eye" src="assets/images/eyes.png" alt="robotic-eye"> <a class="side-title">Emotion Recognition</a>
    </div>
  </header>

<div>
  <router-outlet></router-outlet>
</div>


</div>
<footer>
  <img class="footer-image" style="transform: rotate(-90deg);" src="assets/images/security128.png">
  <img class="footer-image" src="assets/images/security128.png">
  <img class="footer-image" style="transform: rotate(90deg);" src="assets/images/security128.png">
</footer>

